.containertop{
	display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto; 
	grid-gap: 40px;
}

.conteneurbarre{
	display: grid;
	grid-template-columns: 100%; 
	justify-content: start;
}

.conteneurbarre2{
	display: grid;
	grid-template-columns: 100%; 
	justify-content: start;
}

.containercontact{
	display: grid;  
    grid-template-columns: repeat(auto-fit, 130px);
	grid-gap: 20px;
}

.Photo {
    float: left;
    margin-right: 40px;
}






